h1 {
    text-align: center;
    background-color: lightgreen;
}

#familyPhoto {
    display: none;
    margin: auto;
    border: 20px groove brown;
}

#leeQuote {
    display: block;
    margin: auto;
    border: 1em solid seagreen;
}

.footer {
    background-color: lightgreen;
    font-size: 2em;
}