h1 {
    text-align: center;
    background-color: lightgreen;
}

#familyPhoto {
    display: none;
    margin: auto;
    border: 1em groove brown;
}

#leeQuote {
    display: block;
    margin: auto;
    border: 1em solid seagreen;
}

.footer {
    background-color: lightgreen;
    color: black;
    font-size: 2em;
    margin: 8px 5px;
}